body {
    background-color: #101028;
    color: #dfdfdf;
    font-family: "Newsreader", serif;
    font-size: 18px;
    margin: 0;
}

img
{
    display: block;
    margin: auto;
}

p {
    text-align: justify;
}

h1
{
    font-family: "Inconsolata", sans-serif;
    font-size: 62px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

div.navbar
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #282E55;
    height: 50px;
}

div.navbar-item
{
    margin: auto 1em;
}

/* Default to inline link*/
a
{
    color: #FFFFFF;
    font-family: "Newsreader", serif;
    font-size: 16px;
    text-decoration: none;
    font-style: italic;
}

a.content-footer, a.list-link, a.navbar-item
{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 16px;
}

div.content-wrapper-outer
{
    display: block;
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: #1F1D45;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 1px;
}

div.content-wrapper-inner
{
    display: block;
    min-width: 500px;
    background-color: #282E55;
    padding: 1px 15px;
    margin-bottom: 20px;
}

div.content-footer
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #282E55;
    padding: 15px;
    margin-bottom: 20px;
}

div.content-footer-previous-item
{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

div.content-footer-next-item
{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
