---
pagination:
  data: collections.post
  size: 1
permalink: "posts/{{ pagination.items[0].data.id }}/index.html"
---
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/bundle.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Newsreader"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata"/>
        <title></title>
    </head>
    <body>
        {% include "navbar.njk" %}
        <div class="content-wrapper-outer">
        <div class="content-wrapper-inner">
        <main>
            <h1>{{ pagination.items[0].data.title }}</h1>
            {{ pagination.items[0].content | safe }}
        </main>
        </div>
        <div class="content-footer">
            <div class="content-footer-previous-item">
                {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}">Previous Article</a> 
                <a href="{{ pagination.href.previous }}">{{ pagination.page.previous.data.title }}</a>
                {% else %}
                <a href="">You are here!</a>
                {% endif %}
            </div>
            <div class="content-footer-home-item">
                <a href="/">Home</a> 
            </div>
            <div class="content-footer-next-item">
                {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}">Next Article</a> 
                <a href="{{ pagination.href.next }}">{{ pagination.page.next.data.title }}</a>
                {% else %}
                <a href="">No new articles!</a>
                {% endif %}
            </div>
        </div>
        </div>
        </div>
    </body>
</html>
